*{
    margin: 0;
    padding: 0;
}
.header{
    background: #0769e9;
    height: 80px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_activate{
    background: #034574;
    transition: 0.5s;
}
/* hambu */
#checkbox{
    display: none;
}
.hamburger{
    padding:  25px 45px ;
    position: relative;
    display: none;
    cursor: pointer;
}
.line{
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.25s, opacity 0.35s;
}
.line--top{
    transform: translateY(-7px);
}
.line--bottom{
    transform: translateY(7px);
}
#checkbox:checked~.line--top{
    transform: rotate(45deg);
}
#checkbox:checked~.line--midle{
    transform: translateX(16px);
    opacity: 0;
}
#checkbox:checked~.line--bottom{
    transform: rotate(-45deg);
}
@media screen and (max-width:868px) {
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #2c3e50;
        position: fixed;
        top: 60px;
        width: 90%;
        padding: 20px 0;

        height: calc(100% -60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_activate{
        background: none;
        color: #83c5f7;
    }
    .hamburger{
        display: block;
    }
    .nav-menu-visible{
        left: 20px;
    }
    #checkbox:checked ~.nav-menu{
        left: 20px;
    }
}
